<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Myapp</title>
=======
  <title>HelloWorld</title>
>>>>>>> a8f0495a4bbad1bb3827f8fc1f9e96e636cee9fd
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
